<a href="https://colab.research.google.com/github/iamsurajitmishra/Data-Analysis-With-Python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # *Basic Python*

**Lession 1**

In [ ]:
print('Hello, python!')

Hello, python!

* *Separator in print(1,2,sep='-')*

In [ ]:
print(1,2,3,4,5,6, sep = '-')

1-2-3-4-5-6

In [ ]:
for i in range(10):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

* help() => Show doc of any function

In [ ]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

* Excersizes -

1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [ ]:
population = 198568
men = 45312
women = 35678
print(f'No of children is = {population-(men+women)}')

No of children is = 117578

2. A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [ ]:
boxes = 2425
pencil_in_each_box = 24
print(f'Total no of pencil = {boxes * pencil_in_each_box}')

Total no of pencil = 58200

3. Linda bought a coat for `$2265` and a saree for `$2150`. She gave `$5000` to the shopkeeper. How much money did the shopkeeper return to her?

In [ ]:
total = 5000
coat = 2265
saree = 2150
print(f'Shop keeper will return - {5000 - (2265+2150)}$')

Shop keeper will return - 585$

In [ ]:
!pip install jovian --upgrade --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.6/68.6 kB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for uuid (setup.py) ... done

In [ ]:
import jovian
jovian.commit(project='Data analysis and python')

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

 **Lession - 2(Branching and looping)**
* Branching with if, else and elif
* Nested conditions and if expressions
* Iteration with while loops
* Iterating over containers with for loops
* Nested loops, break and continue statements

In [ ]:
num = 100001
if num % 2 == 0:
  print('Inside if') 
  print('{} is a even number'.format(num))
else:
  print('Odd number.')

Odd number.

In [ ]:
people = ('Rishi','Ridhi','Rdhima')
person = 'Ridhi'
if person in people:
  print('{} is a masketier'.format(person))

Ridhi is a masketier

In [ ]:
today = 'Wednesday'
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [ ]:
a_number = 31
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))
else:
  print('Only divisible by 1 and itself')

Only divisible by 1 and itself

* Shorthand conditional statement
Python provides a shorter syntax, which allows writing such conditions in a single line of code. It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

It has the same behavior as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [ ]:
num = 421
parity = 'even' if num%2 == 0 else 'odd'
print(parity)

odd

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block. You can use the `pass` statement to do nothing and avoid getting an error.

In [ ]:
from ast import Num
if num % 2 == 0:
   pass
elif num % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(num))

* *Looping*
  * While Loop
  * For Loop

In [ ]:
result = 1
i = 1
while i <= 100:
  result = result * i
  i = i + 1
print('Factorial of 100 is {}'.format(result))

Factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Star printing

In [ ]:
line = '*'
max_len = 10

while len(line) < max_len:
  print(line)
  line += '*'

while len(line) > 0:
  print(line)
  line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
hash = '#'
for i in range(5):
  hash += hash
print(hash, end = '\n')

################################

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [ ]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

* Infinite loop

In [4]:
i = 1
res = 10
while i>0:
  if res > 100:
    break ## breaking from loop when res = 100
  res += i
  print(res)
  i+=1
print('result = {}'.format(res))
print(f'result = {res}')

11
13
16
20
25
31
38
46
55
65
76
88
101
result = 101
result = 101

## Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [10]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

Let's try using `for` loops with some other data types.
* Looping over a string

In [11]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

* Looping over a tuple

In [12]:
# Looping over a tuple
for fruit in ('Apple', 'Banana', 'Guava'):
    print("Here's a fruit:", fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

* Looping over a dictionary

In [18]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

## printing keys
print('#'*50)
for val in person.values():
  print(val)

## print key-val pair
print('#'*50)
for key_value_pair in person.items():
    print(key_value_pair)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True
##################################################
John Doe
Male
32
True
##################################################
('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [21]:
for i in range(7):
    print(i, end=' ')

0 1 2 3 4 5 6

In [23]:
for i in range(3, 10):
    print(i, end=' ')

3 4 5 6 7 8 9

In [25]:
for i in range(3, 14, 4):
    print(i, end=' ')

3 7 11

* Ranges are used for iterating over lists when you need to track the index of elements while iterating.

In [26]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

* Another way to achieve the same result is by using the `enumerate` function with `a_list` as an input, which returns a tuple containing the index and the corresponding element.**bold text**

In [27]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### `break`, `continue` and `pass` statements

Similar to `while` loops, `for` loops also support the `break` and `continue` statements. `break` is used for breaking out of the loop and `continue` is used for skipping ahead to the next iteration.

In [28]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [29]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

* Like `if` statements, `for` loops cannot be empty, so you can use a `pass` statement if you don't want to execute any statements inside the loop.

In [30]:
for day in weekdays:
    pass

* ### Nested `for` and `while` loops

Similar to conditional statements, loops can be nested inside other loops. This is useful for looping lists of lists, dictionaries etc.

In [31]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [32]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

In [17]:
l1 = ['hi', 'hello']
l2 = ['sad', 'unhappy']

tweets = [
    'hi, i am good',
    'hello, hw r u?',
    'I am sad',
    'I am unhappy',
    'i am neutral',
    'i will be neutral'
]

filtered_tweets = []

for tweet in tweets:
    contains_l1 = any(word in tweet.lower() for word in l1)
    contains_l2 = any(word in tweet.lower() for word in l2)
    if not contains_l1 and not contains_l2:
        filtered_tweets.append(tweet)

# Print the filtered tweets
for tweet in filtered_tweets:
    print(tweet)

i am neutral
i will be neutral

Revision:

* What is branching?

Branching in programming languages refers to the ability to alter the flow of program execution based on certain conditions. It allows the program to make decisions and choose different paths of execution depending on whether specific conditions are met or not.