<a href="https://colab.research.google.com/github/iamsurajitmishra/Data-Analysis-With-Python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # *Basic Python*

**Lession 1**

In [1]:
print('Hello, python!')

Hello, python!

* *Separator in print(1,2,sep='-')*

In [ ]:
print(1,2,3,4,5,6, sep = '-')

1-2-3-4-5-6

In [ ]:
for i in range(10):
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

* help() => Show doc of any function

In [ ]:
print(help(print))

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

None

* Excersizes -

1. The population of a town is 198568. Out of them 45312 are men and 35678 are women. Find the number of children in the town.

In [ ]:
population = 198568
men = 45312
women = 35678
print(f'No of children is = {population-(men+women)}')

No of children is = 117578

2. A shopkeeper has 2425 boxes of 24 pencils each. How many pencils do all the boxes have in all?

In [ ]:
boxes = 2425
pencil_in_each_box = 24
print(f'Total no of pencil = {boxes * pencil_in_each_box}')

Total no of pencil = 58200

3. Linda bought a coat for `$2265` and a saree for `$2150`. She gave `$5000` to the shopkeeper. How much money did the shopkeeper return to her?

In [ ]:
total = 5000
coat = 2265
saree = 2150
print(f'Shop keeper will return - {5000 - (2265+2150)}$')

Shop keeper will return - 585$

In [2]:
!pip install jovian --upgrade --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.6/68.6 kB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for uuid (setup.py) ... done

In [3]:
import jovian
jovian.commit(project='Data analysis and python')

[jovian] Detected Colab notebook...
[jovian] jovian.commit() is no longer required on Google Colab. If you ran this notebook from Jovian,
then just save this file in Colab using Ctrl+S/Cmd+S and it will be updated on Jovian.
Also, you can also delete this cell, it's no longer necessary.

 **Lession - 2(Branching and looping)**
* Branching with if, else and elif
* Nested conditions and if expressions
* Iteration with while loops
* Iterating over containers with for loops
* Nested loops, break and continue statements

In [ ]:
num = 100001
if num % 2 == 0:
  print('Inside if') 
  print('{} is a even number'.format(num))
else:
  print('Odd number.')

Odd number.

In [4]:
people = ('Rishi','Ridhi','Rdhima')
person = 'Ridhi'
if person in people:
  print('{} is a masketier'.format(person))

Ridhi is a masketier

In [5]:
today = 'Wednesday'
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [7]:
a_number = 31
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))
else:
  print('Only divisible by 1 and itself')

Only divisible by 1 and itself

* Shorthand conditional statement
Python provides a shorter syntax, which allows writing such conditions in a single line of code. It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

It has the same behavior as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [9]:
num = 421
parity = 'even' if num%2 == 0 else 'odd'
print(parity)

odd

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block. You can use the `pass` statement to do nothing and avoid getting an error.

In [14]:
from ast import Num
if num % 2 == 0:
   pass
elif num % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(num))

* *Looping*
  * While Loop
  * For Loop

In [15]:
result = 1
i = 1
while i <= 100:
  result = result * i
  i = i + 1
print('Factorial of 100 is {}'.format(result))

Factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Star printing

In [17]:
line = '*'
max_len = 10

while len(line) < max_len:
  print(line)
  line += '*'

while len(line) > 0:
  print(line)
  line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [19]:
hash = '#'
for i in range(5):
  hash += hash
print(hash, end = '\n')

################################

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [20]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000