<a href="https://colab.research.google.com/github/iamsurajitmishra/Data-Analysis-With-Python/blob/main/python_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('i am surajit')

i am surajit

In [3]:
a = 10
b = 20
print('Answer =',(a+b))

Answer = 30

In [6]:
for i in range(1,11):
  print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
no = 1001
if no%2 == 0:
  print("No is even")
else:
  print("No is Odd")

No is Odd

In [11]:
l1 = [10,20,30,40,50]
l2 = [10,20,30,40,50]

l3 = l1+l2
print(l3)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

**List slicing**

In [16]:
l4 = l1[0:len(l3)]
print(l4)
print(len(l4))
print(l4[0])
print(l4[1])

[10, 20, 30, 40, 50]
5
10
20

**Sort list**

In [40]:
l5 = [1,2,3,4,5,6]
print(l5)
l5.sort(reverse = True)
print(l5)


for i in range(0, len(l5)):
  print(l5[i], end = ' ')

print()
## Reverse sort
print(l5[::-1])

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
6 5 4 3 2 1
[1, 2, 3, 4, 5, 6]

**Slicing -> [start:stop:step]**